<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <script src="/static/htmx/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
    <script src="/static/htmx/nunjucks.js"></script>
  </head>

  <body class="bg-gray-100">
    <section
      class="bg-white shadow flex justify-between items-center h-20 px-8"
    >
      <h1 class="text-3xl font-bold text-indigo-500">Expense Tracker</h1>
      <!-- Profile icon with username -->
      <div class="flex items-center space-x-2">
        <img
          src="{{ .Photo }}"
          alt="Profile Icon"
          class="w-10 h-10 rounded-full"
        />
        <span class="text-gray-700">{{ .Username }}</span>
      </div>
    </section>

    <section
      class="min-h-screen flex items-start justify-center bg-gray-200 py-12 px-4 sm:px-6 lg:px-8"
    >
      <div class="max-w-md w-full space-y-8">
        <form
          class="mt-1 space-y-6"
          id="expense-form"
          hx-ext="json-enc"
          hx-post="/api/add-income-expense"
          hx-swap="outerHTML"
        >
          <div class="rounded-md shadow-sm space-y-6">
            <div>
              <label for="type" class="sr-only">Type: </label>
              <select
                name="type"
                id="type"
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                required
              >
                <option value="" disabled selected>Select Type</option>
                <option value="income">Income</option>
                <option value="expense">Expense</option>
              </select>
            </div>
            <div>
              <label for="source" class="sr-only">Source: </label>
              <input
                type="text"
                name="source"
                id="source"
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Source"
                required
              />
            </div>
            <div>
              <label for="amount" class="sr-only">Amount: </label>
              <input
                type="number"
                name="amount"
                id="amount"
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Amount"
                required
              />
            </div>
          </div>

          <div>
            <button
              type="submit"
              class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-offset-2 focus:ring-indigo-500"
            >
              Add
              <img
                class="htmx-indicator absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-white"
                src="/static/animations/tail-spin.svg"
                alt=""
              />
            </button>
          </div>
        </form>
        <div id="expense-list" class="mt-8 space-y-4">
          <!-- Expense items will be dynamically added here -->
        </div>
      </div>
    </section>

    <script>
      `<div class="flex justify-between items-center bg-white px-4 py-2 rounded-md shadow-sm">
      <span class="text-gray-800">${expense.type}: ${expense.source} - ${expense.amount}</span>
      <button onclick="updateExpense('${expense.id}')" class="text-indigo-600 hover:text-indigo-500">Update</button>
      </div>`;
    </script>
  </body>
</html>
