<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <script src="/static/htmx/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
    <style>
      li.htmx-swapping input {
        opacity: 0;
        transition: opacity 1s ease-out;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
  </head>
  <body class="bg-gray-100">
    <section
      class="bg-white shadow flex justify-between items-center h-20 px-8"
    >
      <h1 class="text-3xl font-bold text-indigo-500">Expense Tracker</h1>
      <!-- Profile icon with username -->
      <div class="flex items-center space-x-2">
        <img
          src="{{ .Photo }}"
          alt="Profile Icon"
          class="w-10 h-10 rounded-full"
        />
        <span class="text-gray-700">{{ .Username }}</span>
      </div>
    </section>
    <section
      class="min-h-screen justify-center flex flex-col items-center bg-gray-200 pb-12 pt-6 px-4 sm:px-6 lg:px-8"
    >
      <div class="max-w-md w-full space-y-8">
        <form
          id="{{ .UserId }}"
          class="mt-1 space-y-6 expense-form"
          hx-post="/api/createUserReport/{{ .UserId }}"
          hx-ext="json-enc"
          hx-target="#reports"
          hx-swap="beforeend"
          hx-confirm="Are you sure?"
          hx-on::after-request="createdReport()"
        >
          <div class="rounded-md shadow-sm space-y-6">
            <div>
              <label for="type" class="sr-only">Type: </label>
              <select
                name="type"
                id="type"
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                required
              >
                <option value="" disabled selected>Select Type</option>
                <option value="income">Income</option>
                <option value="expense">Expense</option>
              </select>
            </div>
            <div>
              <label for="source" class="sr-only">Source: </label>
              <input
                type="text"
                name="source"
                id="source"
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Source"
                required
              />
            </div>
            <div>
              <label for="amount" class="sr-only">Amount: </label>
              <input
                id="amount"
                type="number"
                name="amount"
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Amount"
                min="1"
                required
              />
            </div>
          </div>

          <div>
            <button
              type="submit"
              class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-offset-2 focus:ring-indigo-500"
            >
              Add
              <img
                class="htmx-indicator absolute left-3 transform -translate-y-1/2 w-5 h-5 text-white"
                src="/static/animations/tail-spin.svg"
                alt=""
              />
            </button>
          </div>
        </form>
      </div>

      <div id="{{ .UserId }}">
        <h2 class="text-lg font-bold mb-2 mt-4 text-center text-indigo-600">
          Reports
        </h2>
        <ul
          id="expense-list"
          class="w-fit bg-white divide-y divide-gray-200 relative"
          hx-get="/api/reports/{{ .UserId }}"
          hx-trigger="load"
          hx-swap="beforeend"
          hx-target="#reports"
          hx-request='\"timeout\":100'
          hx-indicator="#spinner"
          hx-ext="response-targets"
          hx-on::after-request="fetchedReports()"
        >
          <li class="flex justify-between px-6 py-3 bg-gray-50">
            <span class="w-auto font-medium text-gray-500">Type</span>
            <span class="w-auto font-medium text-gray-500">Source</span>
            <span class="w-auto font-medium text-gray-500">Amount</span>
            <span class="w-auto font-medium text-gray-500 text-right"
              >Actions</span
            >
          </li>
          <li class="flex justify-center items-center">
            <img
              id="spinner"
              class="htmx-indicator absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-16 h-16 z-10"
              src="/static/animations/Dual-Ring-Spinner.svg"
              alt="Loading Spinner"
            />
          </li>
          <div
            id="reports"
            hx-confirm="Are you sure?"
            hx-target-204="closest li"
            hx-swap="outerHTML"
          ></div>
        </ul>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script>
      var notyf = new Notyf({
        position: { x: "right", y: "top" },
      });

      notyf.success("Welcome {{ .Username }}");

      function fetchedReports() {
        notyf.success("Reports Fetched Successfully");
      }

      function createdReport() {
        notyf.success("Report Created Successfully");
      }

      htmx.onLoad(function (content) {
        // Add event listener to all edit buttons
        content.querySelectorAll(".edit-button").forEach((button) => {
          button.addEventListener("click", function () {
            // Find the parent list item of the clicked edit button
            const listItem = this.closest("li");

            // Toggle visibility of edit and save buttons
            listItem.querySelector(".edit-button").style.display = "none";
            listItem.querySelector(".save-button").style.display =
              "inline-block";

            // Enable editing by removing readonly attribute from input fields
            listItem.querySelectorAll("input").forEach((input) => {
              input.removeAttribute("readonly");
            });
          });
        });

        // Add event listener to all save buttons
        content.querySelectorAll(".save-button").forEach((button) => {
          button.addEventListener("click", function () {
            // Find the parent list item of the clicked save button
            const listItem = this.closest("li");

            // Toggle visibility of save and edit buttons
            listItem.querySelector(".save-button").style.display = "none";
            listItem.querySelector(".edit-button").style.display =
              "inline-block";

            // Disable editing by adding readonly attribute to input fields
            listItem.querySelectorAll("input").forEach((input) => {
              input.setAttribute("readonly", true);
            });
          });
        });
      });

      document
        .getElementById("reports")
        .addEventListener("htmx:afterSwap", function (event) {
          var response = event.detail.xhr.response;

          if (response && response.errors) {
            // Iterate through errors and display them using Notify.js
            response.errors.forEach(function (error) {
              notyf.error("An Error Occured");
            });
          }
        });

      document
        .getElementById("reports")
        .addEventListener("htmx:timeout", function (event) {
          notyf.error("An Error Occured");
        });
    </script>
  </body>
</html>
