{{ define "dashboard" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <script src="/static/htmx/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>
    <script>
       document.addEventListener("htmx:afterOnLoad", function(evt) {
            var reportsContainer = document.getElementById("reports");
            var noReportsMessage = document.getElementById("no-reports-message");

            if (reportsContainer.children.length === 0 || reportsContainer.innerHTML.trim() === "") {
                noReportsMessage.style.display = "block";
            } else {
                noReportsMessage.style.display = "none";
            }
        });

    </script>
    <style>
      li.htmx-swapping input {
        opacity: 0;
        transition: opacity 1s ease-out;
      }

      /* Add responsive styles for the report list */
      @media (max-width: 767px) {
        li input[name="source"] {
          display: none;
        }
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css"
    />
  </head>
  <body  class="bg-gray-100">

      {{ template "_header" .}}

        <section
      class="min-h-screen justify-center flex flex-col items-center bg-gray-200 pb-6 pt-4 md:pb-12 md:pt-6 px-2 md:px-4 lg:px-8"
    >
      <div class="max-w-md w-full space-y-8">
        <form
          id="{{ .UserId }}"
          class="mt-1 space-y-6 expense-form"
          hx-post="/api/createUserReport/{{ .UserId }}"
          hx-ext="json-enc"
          hx-target="#reports"
          hx-swap="beforeend"
          hx-confirm="Are you sure?"
          hx-on::after-request="createdReport()"
        >
          <div class="rounded-md shadow-sm space-y-6">
            <div>
              <label for="type" class="sr-only">Type: </label>
              <select
                name="type"
                id="type"
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                required
              >
                <option value="" disabled selected>Select Type</option>
                <option value="income">Income</option>
                <option value="expense">Expense</option>
              </select>
            </div>
            <div>
              <label for="source" class="sr-only">Source: </label>
              <input
                type="text"
                name="source"
                id="source"
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Source"
                required
              />
            </div>
            <div>
              <label for="amount" class="sr-only">Amount: </label>
              <input
                id="amount"
                type="number"
                name="amount"
                class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                placeholder="Amount"
                min="1"
                required
              />
            </div>
          </div>
         
          <div>
           <button
            type="submit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
  >
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
               <img
                class="htmx-indicator w-5 h-5 text-white"
                 src="/static/animations/tail-spin.svg"
                 alt="Loading"
             />
            </span>
                Add
             </button>
          </div>
          
        </form>
      </div>

      <div id="{{ .UserId }}" class="w-full md:w-auto">
        <h2 class="text-lg font-bold mb-2 mt-4 text-center text-indigo-600">
          Reports
        </h2>
        <ul
          id="expense-list"
          class="w-full bg-white divide-y divide-gray-200 relative"
          hx-get="/api/reports/{{ .UserId }}"
          hx-trigger="load"
          hx-swap="beforeend"
          hx-target="#reports"
          hx-indicator="#spinner"
          hx-ext="response-targets"
          hx-on::timeout="timeoutError()"
          >
          <li
            class="flex flex-col md:flex-row justify-between px-2 md:px-6 py-3 bg-gray-50"
          >
            <span class="w-auto font-medium text-gray-500 mb-2 md:mb-0"
              >Type</span
            >
            <span
              class="hidden md:block w-auto font-medium text-gray-500 mb-2 md:mb-0"
              >Source</span
            >
            <span class="w-auto font-medium text-gray-500 mb-2 md:mb-0"
              >Amount</span
            >
            <span class="w-auto font-medium text-gray-500 text-right"
              >Actions</span
            >
          </li>
          <li class="flex justify-center items-center">
            <img
              id="spinner"
              class="htmx-indicator absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-10 h-10 md:w-16 md:h-16 z-10"
              src="/static/animations/Dual-Ring-Spinner.svg"
              alt="Loading Spinner"
            />
          </li>

  <!-- Message to display when there are no reports -->
          <p id="no-reports-message" class="px-6 py-4 whitespace-nowrap" colspan="4" style="display: none;">No reports available.</p>

          <div
            id="reports"
            hx-confirm="Are you sure?"
            hx-target-204="closest li"
            hx-swap="outerHTML"
          >
          </div>
        </ul>

        <div class="flex justify-center mt-4">
          <a href="/reports-graph">
            <button
            class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
            View Reports Analysis
          </button>
            <a/>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script>
      var notyf = new Notyf({
        position: { x: "right", y: "top" },
      });

      notyf.success("Welcome {{ .Username }}");

      function createdReport() {
        notyf.success("Report Created Successfully");
      }

      function timeoutError() {
        notyf.error("Server Error: Request timeout");
      }

      function sendError() {
        notyf.error(
          "Unexpected error, check your connection and try to refresh the page.",
        );
      }

      function responseError() {
        notyf.error("An Error Occurred");
      }

      htmx.onLoad(function (content) {
        // Add event listener to all edit buttons
        content.querySelectorAll(".edit-button").forEach((button) => {
          button.addEventListener("click", function () {
            // Find the parent list item of the clicked edit button
            const listItem = this.closest("li");

            // Toggle visibility of edit and save buttons
            listItem.querySelector(".edit-button").style.display = "none";
            listItem.querySelector(".save-button").style.display =
              "inline-block";

            // Enable editing by removing readonly attribute from input fields
            listItem.querySelectorAll("input").forEach((input) => {
              input.removeAttribute("readonly");
            });
          });
        });

        // Add event listener to all save buttons
        content.querySelectorAll(".save-button").forEach((button) => {
          button.addEventListener("click", function () {
            // Find the parent list item of the clicked save button
            const listItem = this.closest("li");

            // Toggle visibility of save and edit buttons
            listItem.querySelector(".save-button").style.display = "none";
            listItem.querySelector(".edit-button").style.display =
              "inline-block";

            // Disable editing by adding readonly attribute to input fields
            listItem.querySelectorAll("input").forEach((input) => {
              input.setAttribute("readonly", true);
            });
          });
        });
      });

              //Set timeouts
      htmx.config.timeout = 30000;
    </script>
  </body>
</html>
{{ end }}
