<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker - Graphs</title>
    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <style>
      .chart-container {
        height: 400px;
        width: 100%;
      }
    </style>
  </head>
  <body class="bg-gray-100">
    <section
      class="bg-white shadow flex flex-col md:flex-row justify-between items-center h-20 px-4 md:px-8"
    >
      <h1 class="text-2xl md:text-3xl font-bold text-indigo-500 mb-2 md:mb-0">
        Expense Tracker
      </h1>
      <div class="flex items-center space-x-2">
        <img
          src="{{ .Photo }}"
          alt="Profile Icon"
          class="w-8 h-8 md:w-10 md:h-10 rounded-full"
        />
        <span class="text-gray-700 text-sm md:text-base">{{ .Username }}</span>
      </div>
    </section>

    <section
      class="min-h-screen justify-center flex flex-col items-center bg-gray-200 pb-6 pt-4 md:pb-12 md:pt-6 px-2 md:px-4 lg:px-8"
    >
      <div class="max-w-2xl w-full space-y-8">
        <div class="bg-white p-6 rounded-lg shadow-md">
          <h2 class="text-lg font-bold mb-4 text-center text-indigo-600">
            Select Graph Options
          </h2>
          <form class="space-y-4">
            <div>
              <label
                for="report-type"
                class="block text-sm font-medium text-gray-700"
                >Report Type:</label
              >
              <select
                id="report-type"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                required
              >
                <option value="income">All Reports</option>
                <option value="income">Income</option>
                <option value="expense">Expense</option>
              </select>
            </div>

            <div>
              <label
                for="chart-type"
                class="block text-sm font-medium text-gray-700"
                >Chart Type:</label
              >
              <select
                id="chart-type"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                required
              >
                <option value="piechart">Pie Chart</option>
                <option value="linechart">Line Chart</option>
              </select>
            </div>
          </form>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-md mt-8">
          <h2 class="text-lg font-bold mb-4 text-center text-indigo-600">
            Graph
          </h2>
          <div class="chart-container" id="chart"></div>
        </div>
      </div>
    </section>
  </body>
</html>
