{{ range .Results }}
<li
  class="px-2 py-4 flex justify-evenly items-center"
  hx-confirm="Are you sure?"
>
  <input
    type="text"
    class="px-2 py-1 border rounded-md"
    value="{{ .Type }}"
    readonly
  />
  <input
    type="text"
    name="source"
    class="px-2 py-1 border rounded-md"
    value="{{ .Source }}"
    readonly
  />
  <input
    type="text"
    name="amount"
    class="px-2 py-1 border rounded-md"
    value="{{ .Amount }}"
    readonly
  />
  <div class="flex justify-self-auto" hx-target="previous li, this">
    <button class="edit-button text-indigo-600 hover:text-indigo-500 mr-2">
      Edit
    </button>
    <button
      class="save-button text-indigo-600 hover:text-indigo-500 mr-2"
      hx-put="/api/v1/report/{{ .Type }}/{{ .ID }}"
      style="display: none"
    >
      Save
    </button>

    <button
      class="text-red-600 hover:text-red-500 delete-button"
      hx-delete="https://expense-calculator-api-j642.onrender.com/api/v1/report/{{.ID}}"
      hx-target="previous li"
      hx-swap="outerHTML swap:1s"
    >
      Delete
    </button>
  </div>
</li>
{{ else }}
<li class="px-6 py-4 whitespace-nowrap" colspan="4">No Reports Yet</li>
{{ end }}
