<div class="bg-green-100 p-4 rounded-lg">
  <h3 class="text-green-600 font-bold mb-2">Total Income</h3>
  <p class="text-green-800 text-lg">{{ .TotalIncome }}</p>
</div>
<div class="bg-red-100 p-4 rounded-lg">
  <h3 class="text-red-600 font-bold mb-2">Total Expenses</h3>
  <p class="text-red-800 text-lg">{{ .TotalExpense }}</p>
</div>
<div class="bg-indigo-100 p-4 rounded-lg">
  <h3 class="text-indigo-600 font-bold mb-2">Net Income</h3>
  <p class="text-indigo-800 text-lg">{{ .NetIncome }}</p>
</div>
